@charset "UTF-8";
/*mudança de cor no nav*/
.navbar{
    background-color: red;
    justify-content: center;
}
/*Mudança de cor e ajuste para o centro*/
.collapse{
    background-color: red;
    justify-content: center;
}
/*tamanho da logo*/
.logo{
    height: 100px;
    width: 90px;
}
/*Ajustando a imagen da logo*/
.logo img{
    width: 100%;
    height: 100%;
}
/*Colocando margen no texto*/
.p-22{
    margin-left: 5%;
}
/*Responsividade*/
@media only screen and (max-width: 1000px){

    iframe{
        width: 100%;
        height: 40vh;
    }
    .p-2{
        flex-wrap: wrap;
    }
    .d-flex{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}